/* styles/About.module.css */

.aboutContainer {
    text-align: center;
    margin-top: 80px;
    padding: 20px;
  }
  
  .header {
    font-size: 1.8em;
    color: white;
  }
  
  .description {
    font-size: 1.2em;
    color: white;
  }
  