.aboutContainer {
  position: relative;
  padding: 2em;
  margin: 0 auto; /* Updated to 0 to remove side margins */
  max-width: 100%; /* Allows the container to take full width */
  background-color: #21252b; /* Card background color */
  border-radius: 10px; /* Card border radius */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5); /* Card box shadow */
  color: #f8f8f2; /* Text color */
}

.header {
  font-size: 1.8em;
  color: white;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 100%;
  max-width: 600px; /* Set the max-width as per your requirement */
  margin: 0 auto; 
}

.description {
  font-size: 1.2em;
  color: white;
  width: 100%; /* Ensure it takes up the full width of its parent */
}

/* Media queries for mobile */
@media screen and (max-width: 767px) {
  .aboutContainer {
    margin-top: 40px;
    padding: 10px;
  }

  .header {
    font-size: 1.5em;
  }

  .description {
    font-size: 1em;
  }

}
