.contactInfo {
  position: relative;
  padding: 2em;
  margin: 0 auto; /* Updated to 0 to remove side margins */
  max-width: 100%; /* Allows the container to take full width */
  background-color: #21252b; /* Card background color */
  border-radius: 10px; /* Card border radius */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5); /* Card box shadow */
  color: #f8f8f2; /* Text color */
  }
  
  .contactInfo img {
  margin-right: 10px; /* Add right margin to create spacing between icon and text */
  }
  
  .contactInfo a {
  color: #50fa7b; /* Updated color for URLs */
  margin-left: 5px;
  text-decoration: none;
  font-size: 1.2rem;
  }
  
  .contactInfo a:hover {
  color: #a9a9a9;
  }
  
  .socialIcons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  }
  
  .socialIcon {
    position: relative;
  padding: 2em;
  margin: 0 auto; /* Updated to 0 to remove side margins */
  max-width: 100%; /* Allows the container to take full width */
  background-color: #21252b; /* Card background color */
  border-radius: 10px; /* Card border radius */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5); /* Card box shadow */
  color: #f8f8f2; /* Text color */
  width: 25px;
  height: 25px;
  margin: 0 10px;
  }
  
  .emailIcon {
    
  width: 25px;
  height: 25px;
  margin-bottom: 2px;
  }
  
  .phoneIcon {
  width: 25px;
  height: 25px;
  margin-top: 2px;
  }
  
  /* Mobile styles */
  @media (max-width: 768px) {
  .contactInfo a {
  font-size: 1rem;
  }
  
  .phoneIcon {
  width: 20px;
  height: 20px;
  }
  
  .emailIcon {
  width: 23px;
  height: 23px;
  margin-bottom: 2px;
  }
  
  .socialIcon {
  width: 25px;
  height: 25px;
  margin: 0 5px;
  }
  }