.home {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 20px;
  background-color: #fafafa;
  margin-top: 80px;
}

.home h1 {
  font-size: 2.5rem;
  color: #333;
}

.home p {
  font-size: 1.2rem;
  color: #666;
  line-height: 1.6;
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.contact-info p {
  margin-left: 10px;
}
