/* Experience.module.css */

.experienceContainer {
  position: relative;
  padding: 2em;
  margin: 0 auto; /* Updated to 0 to remove side margins */
  max-width: 100%; /* Allows the container to take full width */
  background-color: #21252b; /* Card background color */
  border-radius: 10px; /* Card border radius */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5); /* Card box shadow */
  color: #f8f8f2; /* Text color */
  padding-left: 300px;
}

.experienceContent {
  font-size: 1.2em;
  color: white;
  text-align: left;
}

.experienceContent ul {
  padding-left: 20px;
}

.experienceContent b {
  color: whitesmoke;
  font-size: 1.4em;
  display: block;
  margin-bottom: 0.5em;
}

.experienceContent p {
  margin-bottom: 1em;
  color: whitesmoke;
}

.experienceContent a {
  color: #50fa7b; /* Mint green for contrast and visibility */
  text-decoration: none;
}

/* Mobile styles */
@media (max-width: 768px) {
  .experienceContainer {
    padding: 1em;
    margin: 0 auto; /* Updated to 0 to remove side margins in mobile view */
    max-width: 100%; /* Updated to 100% to span full width on mobile */
  }

  .experienceContent {
    font-size: 1em;
  }

  .experienceContent b {
    font-size: 1.2em;
  }
}

/* ...rest of your CSS... */
