.home {
  display: contents;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  padding-top: 100px; /* Add a top padding here */
  background-color: #282c34;
  color: #f8f8f2;
}

.home h1 {
  font-size: 2.5rem;
  color: #f8f8f2;
}

.home p {
  font-size: 1.2rem;
  color: #f8f8f2;
  line-height: 1.6;
}

.sectionContainer {
  padding: 2em;
  margin: 2em auto;
  max-width: 100%; /* Adjusted to 100% to make card layout cover the screen */
  background-color: #21252b;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.sectionHeader {
  font-size: 2em;
  margin-bottom: 1em;
  color: #f8f8f2;
}

.sectionContent {
  font-size: 1.2em;
  color: #f8f8f2;
}

.sectionContainer a {
  color: #50fa7b;
  text-decoration: none;
}

.container {
  text-align: center;
}

.header {
  text-align: center;
  font-size: 2em;
  margin-bottom: 1em;
  color: #f8f8f2;
}

.description {
  text-align: left;
  font-size: 1.2em;
  color: #f8f8f2;
}

.description ul {
  padding-left: 0;
  list-style-type: none;
}

.description li {
  text-align: left;
  color: #f8f8f2;
}

@media screen and (max-width: 767px) {
  .home {
    margin-top: 60px;
  }

  .sectionContainer {
    margin: 1em auto;
    padding: 1em;
    max-width: 100%;
  }

  .sectionHeader {
    font-size: 1.8em;
    margin-bottom: 0.8em;
  }

  .sectionContent {
    font-size: 1em;
  }
}
