.home {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
    background-color: #fafafa;
    margin-top: 80px; /* Shift content upwards */
  }
  
  .home h1 {
    font-size: 2.5rem;
    color: #333;
  }
  
  .home p {
    font-size: 1.2rem;
    color: #666;
    line-height: 1.6;
  }
  /* Home.module.css */

.sectionContainer {
  padding: 2em;
  margin: 2em auto;
  max-width: 800px;
}

.sectionHeader {
  font-size: 2em;
  margin-bottom: 1em;
}

.sectionContent {
  font-size: 1.2em;
  color: #333;
}

/* Skills.module.css */

.container {
  text-align: center;
}

.header {
  text-align: center;
  font-size: 2em;
  margin-bottom: 1em;
}

.description {
  text-align: left;
  font-size: 1.2em;
  color: #333;
}

.description ul {
  padding-left: 0;
  list-style-type: none;
}

.description li {
  text-align: left;
}

/* ...rest of your CSS... */


  