/* Skills.module.css */

.skillsContainer {
  padding: 2em;
  margin: 2em auto;
  max-width: 800px;
  text-align: center;
}

.skillsContent {
  font-size: 1.2em;
  color: #333;
  text-align: left;
}

/* Skills.module.css */

.skillsContent li {
  text-align: left; /* Align all list items to the left */
  margin-bottom: 1em;
  margin-right: 1em; /* Add right margin between list items */
}

.skillsContent ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
}

.skillsContent b {
  color: white;
  font-size: 1.4em;
  display: block;
  margin-bottom: 0.5em; /* Add spacing between the bold headings */
  text-align: center;
}

.skillsContent p {
  margin-bottom: 1em;
  color: white;
}


.skillsContent li:last-child {
  text-align: center; /* Align only the last item to the center */
}


.skillsContent b {
  color: white;
  font-size: 1.4em;
  display: block;
  margin-bottom: 0.5em; /* Add spacing between the bold headings */
  text-align: center;
}

.skillsContent p {
  margin-bottom: 1em;
  color: white;
}
