/* Skills.module.css */

.skillsContainer {
  position: relative;
  padding: 2em;
  margin: 0 auto; /* Updated to 0 to remove side margins */
  max-width: 100%; /* Allows the container to take full width */
  background-color: #21252b; /* Card background color */
  border-radius: 10px; /* Card border radius */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5); /* Card box shadow */
  color: #f8f8f2; /* Text color */
}

.skillsContent {
  font-size: 1.2em;
  color: #333;
  text-align: left;
}

.skillsContent li {
  text-align: left;
  margin-bottom: 1em;
  margin-right: 1em;
}

.skillsContent ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
}

.skillsContent b {
  color: white;
  font-size: 1.4em;
  display: block;
  margin-bottom: 0.5em;
  text-align: center;
}

.skillsContent p {
  margin-bottom: 1em;
  color: white;
}

.skillsContent li:last-child {
  text-align: center;
}

.skillsContent li img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* Mobile styles */
@media (max-width: 768px) {
  .skillsContent ul {
    justify-content: flex-start; /* Align skills list items to the left on mobile */
  }

  .skillsContent li {
    display: flex;
    align-items: center;
    margin-bottom: 0.8em;
  }

  .skillsContent li img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}
