body {
  font-family: Arial, sans-serif;
  background-color: #282c34; /* Dark background */
  color: #f8f8f2; /* Light text color */
}
html, body {
  height: 100%;
  margin: 0;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
